<div class="fullwidth">
<app-header></app-header>
   <div class="container">
      <div class="row">
         <div class="col-sm-2 leftdivmain">
            <app-myaccountsidebar *ngIf="deviceInfo != 'phone'"></app-myaccountsidebar>
              <div class="mobile-menus" [ngClass]="status ? 'active-sidenav' : 'inactive-sidenav'" *ngIf="deviceInfo == 'phone'">
                <mat-sidenav-container class="example-container">
                    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
                      <div class="leftdiv">
                          <div class="nav-left">
                              <div class="leftdivmain_title">My Account</div>
                              <div class="pic_divinnertitle">
                                <div class="pic_divinnertag"><mat-icon>shopping_cart</mat-icon></div>
                                <div class="pic_divinnertext">
                                  <div class="pic_divinnertextbold">Orders</div>
                                    <div class="pic_divinnertextnormal"><a routerLink="/orders">Order History</a></div>
                                  </div>
                              </div>
                              <div class="pic_divinnertitle bordernoebtm">
                                  <div class="pic_divinnertag"><mat-icon>person</mat-icon></div>
                                  <div class="pic_divinnertext">
                                    <div class="pic_divinnertextbold">Settings</div>
                                    <div class="pic_divinnertextnormal"><a routerLink="/account" class="active">Profile Settings</a></div>
                                    <div class="pic_divinnertextnormal"><a routerLink="/account/changepassword">Change Password</a></div>
                                    <div class="pic_divinnertextnormal"><a routerLink="/account/address">Manage Addresses</a></div>
                                    <div class="pic_divinnertextnormal" *ngIf="userId"><a routerLink="/account/wishlist">Wish List</a></div>
                                    <div class="pic_divinnertextnormal" *ngIf="!userId"><a routerLink="/account/login">Wish List</a></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </mat-sidenav>
                    <mat-sidenav-content>
                      <mat-icon (click)="sideMenu();">menu</mat-icon>
                        <div class="col-sm-10 rgrhtdiv">
                          <div class="head-section">
                            <div class="col-sm-12 product-banner">
                               <div class="row">
                                  <div class="col-sm-8 heading">
                                     <ul class="breadcrumb">
                                        <li><a routerLink="/">Home</a></li>
                                        <li><a>Account</a></li>
                                        <li><a class="active">Change Password</a></li>
                                     </ul>
                                  </div>
                                  <div class="col-sm-4"></div>
                               </div>
                            </div>    
                         </div>
                      <div class="titlecreidt">Change Password</div>
                      <form class="change_form">
                        <mat-form-field appearance="outline">
                                <mat-label>Old password</mat-label>
                                <input matInput placeholder="Old password" name="password" type="password" [(ngModel)]="reset.password">
                              </mat-form-field>

                              <mat-form-field appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input matInput placeholder="New Password" name="new_password" type="password" [(ngModel)]="reset.new_password">
                              </mat-form-field>

                        
                        <div class="fullwidth">
                          <button class="alcohalfootersign" (click)="changePassword();">save changes</button>
                        </div>
                      </form>
                         </div>
                    </mat-sidenav-content>
                </mat-sidenav-container>
            </div>
         </div>
         <div class="col-sm-10 rgrhtdiv" *ngIf="deviceInfo != 'phone'">
         	<div class="head-section">
              <div class="col-sm-12 product-banner">
                 <div class="row">
                    <div class="col-sm-8 heading">
                       <ul class="breadcrumb">
                          <li><a routerLink="/">Home</a></li>
                          <li><a>Account</a></li>
                          <li><a class="active">Change Password</a></li>
                       </ul>
                    </div>
                    <div class="col-sm-4"></div>
                 </div>
              </div>    
           </div>
			<div class="titlecreidt">Change Password</div>
			<form class="change_form">
				<mat-form-field appearance="outline">
                <mat-label>Old password</mat-label>
                <input matInput placeholder="Old password" name="password" type="password" [(ngModel)]="reset.password">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New Password" name="new_password" type="password" [(ngModel)]="reset.new_password">
              </mat-form-field>

				
				<div class="fullwidth">
					<button class="alcohalfootersign" (click)="changePassword();">save changes</button>
				</div>
			</form>
         </div>
      </div>
   </div>
    <app-footer></app-footer>
</div>