<div class="site-footer">
	<div class="col-sm-4">
		<h4>INFORMATION</h4>
		<div class="footer-menu">
			<ul>
				<li><a routerLink="/about-us">ABOUT US</a></li>
				<li><a routerLink="/contact-us">CONTACT US</a></li>
				<li><a routerLink="/term-conditions">TERMS & CONDITIONS</a></li>
				<li><a routerLink="/privacy-policy">PRIVACY POLICY</a></li>
			</ul>
		</div>
	</div>
	<div class="col-sm-4">
		<h4>CONTACT US</h4>
		<p>CONTACT US DAILY FROM 12PM – 10.30PM</p>
		<p>EMAIL ADDRESS : HELLO@ALCOHAUL.SG</p>
		<p>PHONE +65 6240 6822</p>
	</div>
	<div class="col-sm-4">
		<h4>CORPORATE</h4>
		<div class="footer-menu">
			<ul>
				<li><a routerLink="/corporate-account">CORPORATE ACCOUNT</a></li>
				<li><a routerLink="/event">EVENTS & SERVICES</a></li>
			</ul>
		</div>
	</div>
</div>