<mat-dialog-content>
    <div class="reenter-password">
    	<h2>Please assign a new password for security purposes</h2>
    	<div class="new-password-fields">
    		<mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput placeholder="New password" name="new_passowrd" type="password" [(ngModel)]="password.new">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Re-enter Password</mat-label>
                <input matInput placeholder="Re-enter password" name="reenter_passowrd" type="password" [(ngModel)]="password.reenter">
            </mat-form-field>
            <button type="submit" class="btn btn-default" (click)="createAccount();">Submit</button>
    	</div>
    </div>
</mat-dialog-content>