<div class="container-fluid">
   <div class="row">
      <app-sidebar></app-sidebar>
      <app-header></app-header>
      <div class="main-content">
         <!-- HEAD SECTION -->
         <div class="head-section">
            <div class="col-sm-12 product-banner">
               <div class="row">
                  <div class="col-sm-8 heading">
                     <h1 class="singlep-head">ABOUT US</h1>
                     <ul class="breadcrumb">
                        <li><a routerLink="/">Home</a></li>
                        <li><a>about us</a></li>
                     </ul>
                  </div>
                  <div class="col-sm-4"></div>
               </div>
            </div>
         </div>
         <!-- End HEAD SECTION -->
         <div class="content-section col-sm-12">
            <div class="row">
               <div class="col-sm-3">
               <h1 class="title">THE BRAND</h1>
            </div>
            <div class="col-sm-9">
               <p><strong>Alcohaul is the easiest, fastest and most reliable way to order alcohol and have it delivered directly to your doorstep.</strong></p>

               <p>We are a collective of companies that have been in the alcohol industry for years, coming together to create this portal - providing the best price and service for the new age customers!</p>

               <p>Alcohaul is an on-demand wine, beer, whisky, and spirits marketplace that makes getting alcohol products as hassle-free and insanely easy!</p>

               <p>Search for your favorite brands - or discover new ones - from the comfort of your couch and have them delivered directly to your doorstep. What are you waiting for? Use our alcohol delivery service now! Give us a call or order online!</p>
            </div>
            </div>
            <br>
            <div class="row">
               <div class="col-sm-3">
               <h1 class="title">CONTACT US</h1>
            </div>
            <div class="col-sm-9">
               <p><i class="fa fa-envelope-o"></i> &nbsp; hello@alcohaul.sg</p>

               <p><i class="fa fa-phone"></i> &nbsp;(+65) 6240 6822</p>

               <p><span class="note"> <i class="fa fa-star"></i> &nbsp; WORK HOURS: 365 DAYS A YEAR! / 12PM - 10.30PM</span></p>
            </div>
            </div>
         </div>
         <app-footer></app-footer>
      </div>
   </div>
</div>