<div class="container-fluid">
   <div class="row">
      <app-sidebar></app-sidebar>
      <app-header></app-header>
      <div class="main-content">
         <!-- HEAD SECTION -->
         <div class="head-section">
            <div class="col-sm-12 product-banner">
               <div class="row">
                  <div class="col-sm-8 heading">
                     <h1 class="singlep-head">FORGOT PASSWORD</h1>
                     <ul class="breadcrumb">
                        <li><a routerLink="/">Home</a></li>
                        <li><a>account/forgot password</a></li>
                     </ul>
                  </div>
                  <div class="col-sm-4"></div>
               </div>
            </div>		
         </div>
         <!-- End HEAD SECTION -->
         <!-- forgotpassword From Section -->
          <div class="forgotpass-form">
            <form class="col-sm-12">
               <h4 class="text-center">RESET YOUR PASSWORD</h4>
               <p>We will send you an email to reset your password.</p>
               <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="your-email@shopify.com" name="email" [(ngModel)]="forgot.email">
              </mat-form-field>

               <div class="row text-left">
               <button type="submit" class="btn" (click)="forgotPassword();">Submit</button>
               </div>
            </form>
         </div>
         <!--  -->
         <app-footer></app-footer>
      </div>
   </div>
</div>