<div class="container-fluid">
   <div class="row">
      <app-sidebar></app-sidebar>
      <app-header></app-header>
      <div class="main-content">
         <!-- HEAD SECTION -->
         <div class="head-section">
            <div class="col-sm-12 product-banner">
               <div class="row">
                  <div class="col-sm-10 heading">
                     <h1 class="singlep-head">DELIVERY POLICY/ TERMS & CONDITIONS</h1>
                     <ul class="breadcrumb">
                        <li><a routerLink="/">Home</a></li>
                        <li><a>delivery policy/ terms & conditions</a></li>
                     </ul>
                  </div>
                  <div class="col-sm-2"></div>
               </div>
            </div>
         </div>
         <!-- End HEAD SECTION -->
          <div class="content-section col-sm-12 terms">
          <h4> <u>Legalities</u></h4>
             <ul>
                <li>All deliveries must be received by persons aged 18 or above.</li>
                <li>We reserve the rights to request for a valid photo ID to verify recipient’s age.</li>
                <li>We reserve the rights to reject your purchase if you appear intoxicated or are physically or verbally abusive to any of our team members.</li>
                <li>We reserve the rights to cancel your order if we are unable to fulfill them for any reasons. (eg, Out of stock, error in pricing) should and we apologies in advanced that if your item is unavailable.</li>
             </ul>
         <h4><u>Delivery Policy</u></h4>
         <ul>
            <li><p><i>How Our Delivery Works</i></p></li>
            <li><p>FREE Next Day Delivery</p>
               <ul>
                  <li>Our friendly staff will prepare your favourite booze to be delivered the very next day if you place your order before midnight!</li>
                  <li>All orders made before 12am midnight will enjoy FREE delivery and to be able to select from timeslots available!</li>
               </ul>
            </li>

            <li><p>SAME DAY Delivery</p>
               <ul>
                  <li>Missed the cut off time last night because you were busy drinking? Not to worry! So long you place your order before 2pm, we are able to deliver your favourite booze anywhere in Singapore at your desired timeslot selected during checkout!</li>
                  <li>This cost only an additional $5 for us to make it within the same day to your doorstep!</li>
               </ul>
            </li>

            <li><p>2 HOUR Delivery</p>
               <ul>
                  <li>Need to order alcohol to be delivered urgently because you under estimated how much your guests can drink? Get your alcohol replenished with our urgent delivery service and have it within 2 HOURS!</li>
                  <li>$19.90 to enjoy blazing delivery speeds</li>
                  <li>This service is available Monday - Friday last order at 7pm (arriving latest by 9pm). Saturday and Sunday last order at 3pm (arriving latest by 5pm)</li>
               </ul>
            </li>
             <li><p><i>Other Points to Note</i></p>
               <ul>
                  <li>Alcohaul currently delivers to Singapore addresses only and we deliver on a Next Day Delivery basis.</li>
                  <li>Alcoholic purchase above $100 will get free delivery!</li>
                  <li>A $10 delivery fee will be incurred for orders below $100.</li>
                  <li>We deliver to anywhere in Singapore, even to your picnic in the beach, botanic gardens or even to a chalet party! We suggest receiving your item in advance as actual day delivery time depends heavily on traffic and weather conditions.  </li>
                  <li>Delivery to Sentosa will incur an additional $10 delivery charge.</li>
                  <li>In a case of a failed delivery, or failed payment, a charge of not less that $15 will be incurred in compensation for any administrative costs and mileage.</li>
                  <li>In a case of a failed delivery, or failed payment, a charge of not less that $15 will be incurred in compensation for any administrative costs and mileage.</li>
                  <li>> East Coast Park</li>
                  <li>> West Coast Park</li>
                  <li>> Pasir Ris Park</li>
                  <li>> Labrador Park</li>
                  <li>> Sembawang Park</li>
               </ul>
             </li>
         </ul>

          <h4> <u>Legalities</u></h4>

         <ul>
            <li>Advanced orders can be placed by ordering through our website and selecting your desired date and time for delivery, or by calling our hotline: 6-2406822, on any day from 12PM Noon - 10.30PM before Midnight.</li>

            <li>Delivery timing stated are for your preference, however we will not be able to guarantee the delivery timing. IF the slot you selected are oversubscribed, the delivery might be delayed into the next time slot. In this case our service staff will drop you an email.</li>
            <li>We are unable to cater to specific timings as our orders are dispatch in batches. Should you require express delivery within 1hour timeslot, a fee of $30 will be imposed to arrange a special delivery from warehouse to you directly. Express delivery is subjected to availability.</li>
            <li>*During inclement weather, traffic congestion, extremely high call volume or other unforeseen circumstances, deliveries may take longer than expected or may temporarily be unavailable. If any of such circumstance arises, our friendly staff will contact you via your contact number submitted to update you with the relevant details.</li>

            <li><p>Change of Delivery Timing</p>
            <ul>
               <li>Making a change to delivery timing is only allowed 24 hours before your confirmed delivery time slot by contacting our customer service hotline to request for a new time slot. Newly requested delivery time slot is subjected to availability.</li>
            </ul>
            </li>

            <li><p>Payments and Promotions</p>
            <ul>
               <li>Payment methods offered are via Cash on Delivery or online card payments (VISA/MASTERS) Currently, our system DO NOT accept payments by American Express (AMEX)</li>
               <li><b>All online card payments would incur an additional 4% surcharge of your total basket value.</b></li>
               <li>All discounts or promotions only applies to our alcoholic products.</li>
            </ul>
            </li>

            <li><p>Cancellation/Returns</p>
               <ul>
                  <li>Cancellation is generally only allowed 24 hours before the specific delivery time slot by contacting our customer service hotline. During the day of delivery, no cancellation is allowed.</li>
                  <li>Returns are generally not allowed but subjected to terms and conditions (damage upon delivery, special event consignment, change of mind). Please contact our office directly for more information.</li>
               </ul>
            </li>

            <li><p>Other Terms and Conditions</p>
               <ul>
                  <li>All liquor bottles are in 700ml unless otherwise indicated. Sizes of bottles might change, however that does not automatically mean a lower change in price.</li>
                  <li>We are not a wine trading company, <b> our wines are fresh stocks from local distributors and suppliers.  Thus vintages of wines are subjected to changes. If in doubt, please call our hotline directly.</b></li>
                  <li>All our customers are advised to examine all goods purchased at point of delivery. Any breakages or discrepancies in quantities or items delivered should be brought to the attention of the delivery personnel immediately.</li>
                  <li>A surcharge of $5 is applicable on the total bill for orders on all public holidays.</li>
                  <li>For purchase of any non-alcoholic products (including items such as mixers, ice, disposable wares and snacks) orders will be eligible for delivery only;</li>
                  <li>(i) if an equal value of alcoholic products is purchased where total value of non-alcoholic products is below $100;</li>
                  <li>(ii) if value of total non-alcoholic products exceeds $100.</li>
               </ul>
            </li>
         </ul>

          <h4> <u>Order Confirmation, Deposit and Cancellation</u></h4>
          <ul>
            <li>Keg Order confirmation requires a $150 deposit per keg to be placed or the order be paid in full. $150 deposit is required above the cost of the keg.</li>
            <li>Cancellation of order requires <u>minimally 2 working days </u> prior to event day due to the logistic arrangement with our main warehouse. Service fee of $100 will apply for cancellation as logistic cost would have incurred.</li>
          </ul>

          <h4> <u>Consignment, Reusing and Returning</u></h4>
          <ul>
            <li>Each keg will have a factory seal and should only be removed prior to usage. Keg is considered used once the seal is broken. Opened or used kegs cannot be kept/returned for hygiene reason.</li>
            <li>A service fee of $60 applies for redelivery of left over unused kegs. (This service fee includes a clean dispenser and 36KG of ice). Note that we can only hold up to 14 days for the unused keg.</li>
            <li>Reusing of dispenser is not recommended due to high possibility of contamination and we will not be held responsible for any issues that arise from such actions.</li>
            <li>Cancellation Fee for unused keg (seal unbroken) is at $100/ea.</li>
          </ul>

          <h4><u>Usage of Deposit, Damage to/Lost of Dispensing Equipment</u></h4>
          <ul>
            <li>Deposit is fully refundable once all items are returned undamaged.</li>
            <li>Item cost:</li>
            <li>Portable Dispenser Box = $428, Co2 Gas Cylinder and Regulator = $246.10, Dispensing Line and Beer Drum = $112.40.</li>
          </ul>

          <p>Please contact our office directly for more clarification.</p>
          </div>
         <app-footer></app-footer>
      </div>
   </div>
</div>